<div id="{{slugify title.text}}" class="product product--{{colour}}">
  <div class="product__main">
    <h2 class="product__title">
      <img src="{{title.image}}" alt="Xperia&trade; {{{title.text}}}"/>
    </h2>
    <h3 class="product__tagline">{{{tagline}}}</h3>
    <h4 class="product__heading">Features</h4>
    <p class="product__desc">{{{description}}}</p>
    <h4 class="product__heading">Specification</h4>
    <ul class="product__spec">
      <div class="product__spec-col">
        {{#each specification}}
          {{#ifHalfway @index ../specification}}
            </div>
            <div class="product__spec-col">
          {{/ifHalfway}}
          <li>
            <span class="product__spec-label">{{@key}}:</span> {{{this}}}
          </li>
        {{/each}}
      </div>
    </ul>
    <a class="sony-button" href="{{link}}">Find out more</a>
    <a class="sony-button" href="{{video}}">Watch the video</a>
  </div>
  <div class="product__aside">
    <img class="product__image" src="{{image}}" alt="Image of Xperia&trade; {{{title.text}}}"/>
  </div>
</div>
