<div class="accessories grid_25 alpha omega">

  {{> header}}

  {{#each accessories.products}}
    <div class="product product--accessory">
      <div class="product__main">
        <h2 class="product__title">{{{title}}}</h2>
        <p class="product__desc">{{{description}}}</p>
        <div class="available-colours">
          <h3>Available colours</h3>
          <ul class="available-colours__swatches">
            {{#each colours}}
              <li class="available-colours__swatch available-colours__swatch--{{slugify .}}"><span>{{.}}</span></li>
            {{/each}}
          </ul>
        </div>
        <a class="sony-button" href="{{link}}">Find out more</a>
      </div>
      <div class="product__aside">
        <img class="product__image" src="{{image}}" alt="Image of {{{title}}}"/>
      </div>
    </div>
  {{/each}}

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {}

</script>
