<div class="compare grid_25 alpha omega">
  
  {{> header}}

  {{!-- this really needs to be refactored into an html table when we have the
  time - Tom --}}
  <div class="comparison-table">

    <div class="js-comparison-table">
      {{#each compare.products}}
        <div class="comparison-table__product">
          <div class="comparison-table__handle">
            <img class="comparision-table__product-image" alt="Image of {{title}}" title="Drag to compare" src="{{image}}" />
            <h3 class="comparision-table__product-title">{{title}}</h3>
          </div>
          {{#each attributes}}
            <p class="comparision-table__product-attribute comparision-table__product-attribute--{{@key}}">
              {{{this}}}
            </p>
          {{/each}}
        </div>
      {{/each}}
    </div>

    <h4 class="comparison-table__attribute" style="top:125px;">Camera</h4>
    <h4 class="comparison-table__attribute" style="top:355px;">Screen</h4>
    <h4 class="comparison-table__attribute" style="top:540px;">Processor</h4>
    <h4 class="comparison-table__attribute" style="top:705px;">Memory</h4>
    <h4 class="comparison-table__attribute" style="top:855px;">Battery</h4>
    <h4 class="comparison-table__attribute" style="top:1005px;">Android</h4>
    <h4 class="comparison-table__attribute" style="top:1155px;">Connectivity</h4>
    <h4 class="comparison-table__attribute" style="top:1510px;">Features</h4>
    <h4 class="comparison-table__attribute" style="top:1760px;">Weight</h4>
    <h4 class="comparison-table__attribute" style="top:1845px;">Dimensions</h4>
    <h4 class="comparison-table__attribute" style="top:1945px;">Network</h4>
  </div>

  <div class="footnotes">
    {{#each smartphones.footnotes}}
    <p class="footnotes-item">{{{this}}}</p>
    {{/each}}
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {

  head.load(prefixURL + "js/jquery.bxslider.js", function () {

    var slider;

    var initSlider = function(startPosition) {
      // default to 0 if no start position provided
      startPosition = typeof startPosition !== 'undefined' ? startPosition : 0;

      return $('.js-comparison-table').bxSlider({
        speed: 200,
        infiniteLoop: false,
        hideControlOnEnd: true,
        pager: false,
        maxSlides: 8,
        startSlide: startPosition,
        moveSlides: 1,
        slideWidth: 86,
        slideMargin: 10
      });
    };

    $(".js-comparison-table" ).sortable({
      axis: "x",
      opacity: 0.5,
      tolerance: "pointer",
      scroll: false,
      placeholder: "comparison-table__drag-placeholder",
      handle: '.comparison-table__handle',
      update: function (e, ui) {
        // destroy and then re-initialise the slider (in the same place) when
        // the sort order changes
        var currentSliderPosition = slider.getCurrentSlide();
        slider.destroySlider();
        slider = initSlider(currentSliderPosition);
      }
    });

    // start the slider
    slider = initSlider();
  });

}

</script>
