<div class="coolstuff grid_25 alpha omega">
  
  {{> header}}

  {{#each coolstuff.sections}}
    <div class="coolstuff-section">
      <div class="coolstuff-section__main">
        <h3 class="coolstuff-section__title">
          <img src="{{title.image}}" alt="{{{title.text}}}"/>
        </h3>
        <div class="coolstuff-section__body">
          {{{body}}}
        </div>
        <ul class="coolstuff-section__footnotes">
          {{#each footnotes}}
            <li class="coolstuff-section__footnote">{{{this}}}</li>
          {{/each}}
        </ul>
        {{#if link}}
          {{#if link.local-download}}
            <a class="sony-button js-local-download" href="#" data-file-name="{{link.file-name}}">
              {{link.text}}
            </a>
          {{else}}
            <a class="sony-button" href="{{link.href}}">
              {{link.text}}
            </a>
          {{/if}}
        {{/if}}
      </div>
      <div class="coolstuff-section__media">
        {{#ifCond media.type '==' 'image'}}
          <img alt="{{media.alt}}" src="{{media.src}}" />
        {{/ifCond}}
        {{#ifCond media.type '==' 'video'}}
          <iframe width="440" height="315" src="{{media.src}}" frameborder="0" allowfullscreen></iframe>
        {{/ifCond}}
      </div>
    </div>
  {{/each}}

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {
  // prefix any local download URLs
  $('.js-local-download').each(function () {
    $(this).attr('href', prefixURL + 'downloads/' + $(this).data('file-name'));
  });
}

</script>
