<div class="homepage grid_25 alpha omega">

  {{> header}}

  <div class="promo-slider">
    <ul class="promo-slider__slides js-promo-slider">
      {{#each home.slides}}
        <li class="promo-slide promo-slide--{{colour}}">
          <div class="promo-slide__main">
            <div class="promo-slide__slogan">Demand great</div>
            <h2 class="promo-slide__title">
              {{{title}}}
            </h2>
            <h3 class="promo-slide__tagline">
              {{{tagline}}}
            </h3>
            <div class="promo-slide__body">
              {{{body}}}
            </div>
            <a class="sony-button sony-button--reversed" data-target-content="{{internal_link}}" href="#">
              Find out more
            </a>
          </div>
          <div class="promo-slide__aside">
            <img class="promo-slide__image" src="{{image}}" alt="Image of {{title}}" />
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="home-sections">
    {{#each home.sections}}
      <div class="home-section home-section--{{colour}}">
        <div class="home-section__main">
          <h2 class="home-section__title">
            {{{title}}}
          </h2>
          <div class="home-section__body">
            {{{body}}}
          </div>
          <a class="sony-button" data-target-content="{{internal_link}}" href="#">
            Find out more
          </a>
          <p class="home-section__tagline">
            {{{tagline}}}
          </p>
        </div>
        <div class="home-section__aside">
          <img class="home-section__image" src="{{image}}" alt="Image of Sony {{title}}" />
        </div>
      </div>
    {{/each}}
  </div>

  <div class="services">
    <h2 class="services__title">Entertainment at your fingertips</h2>
    {{#each home.services}}
      <div class="service">
        <div class="service__main">
          <h3 class="service__title">
            {{{title}}}
          </h3>
          <p class="service__description">
            {{{description}}}
          </p>
        </div>
        <div class="service__aside">
          <img class="service__image" src="{{image}}" alt="{{title}} logo" />
        </div>
      </div>
    {{/each}}
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {
  head.load(prefixURL + "js/jquery.bxslider.js", function () {
    $('.js-promo-slider').bxSlider();
  });
}

</script>
